<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="contato">
    <h1>Agenda de Contatos</h1>

    <%- include('includes/messages') %>

    <% if(contato._id){ %>
        
        <form action="/contato/edit/<%= contato._id %>" method="post">
    
    <% } else { %>
        
        <form action="/contato/register" method="post">
    
    <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <label for="nome">Digite o Nome:</label>
        <input type="text" name="nome" id="nome">

        <label for="sobrenome">Digite o Sobrenome</label>
        <input type="text" name="sobrenome" id="sobrenome">

        <label for="email">Digite o Email:</label>
        <input type="text" name="email" id="email" placeholder="Digite o email do contato">

        <label for="telefone">Digite o Telefone:</label>
        <input type="tel" name="telefone" id="telefone">
        
        <button type="submit" class="botao botao-contato">Salvar Contato</button>

    </form>
</section>

<%- include('includes/footer') %>