<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="home">
    <h1>Agenda</h1>
    <p>Contatos salvos abaixo</p>
    
    <%- include('includes/messages') %>
    
    <% if(contatos.length > 0 && user){ %>
        <table>
            <tr>
                <td><p>Nome</p></td>
                <td><p>Sobrenome </p></td>
                <td><p>Email</p></td>
                <td><p>Telefone</p></td>
            </tr>

            <% contatos.forEach(contato => {  %>
                
                <tr class="contatos">
                    <td> <%= contato.nome %></td>
                    <td> <%= contato.sobrenome %></td>
                    <td> <%= contato.email %></td>
                    <td> <%= contato.telefone %></td>
                    <td><a href="/contato/index/<%= contato._id %>" class="editar">Editar</a></td>
                    <td><a href="/contato/delete/<%= contato._id %>" class="excluir">Excluir</a></td>
                </tr>
            
            <% }) %>

        </table>
        
    <% } else { %>
        <p>Não existe contato na sua agenda</p>
    <% } %>
</section>

<%- include('includes/footer') %>